/* components/User/User.css */

.user-card-link {
  display: inline-block;
  width: calc(33% - 40px);
  margin: 10px;
  text-decoration: none; /* Remove a decoração padrão do link */
}

.user-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  box-sizing: border-box;
  transition: transform 0.2s;
}

.user-card:hover {
  transform: scale(
    1.02
  ); /* Pequeno aumento no tamanho do cartão ao passar o mouse */
}

.user-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.user-name,
.user-username {
  margin: 5px 0;
  color: #000; /* Mantém a cor preta para o texto */
}

.user-star {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: gold;
  font-size: 24px;
}

.user-delete-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px; /* Ajuste o tamanho do padding */
  cursor: pointer;
  border-radius: 50%; /* Faz o botão ser redondo */
  font-size: 18px; /* Tamanho do ícone */
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-delete-button svg {
  width: 10px;
  height: 10px;
}
